.bundleDetailsContainer {
  padding: 30px 15px 0px 25px;
  &__topNav {
    h5 {
      font-size: 17px;
      padding: 10px 15px 5px 0px;
      color: var(--primary-color);
    }
  }
  &__content {
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    h4 {
      font-size: 17px;
    }
    &__heading {
      padding-bottom: 15px;
    }
    &__dates {
      text-align: right;
      padding: 5px 0px 30px 0px;
      font-size: var(--xs-font-size);
      color: var(--first-color-light);
    }
    &__image {
      text-align: end;
    }
    &__qty {
      text-align: right;
    }
    &__table {
      padding-top: 15px;
    }
  }
}
