.sumtracker-sider.ant-layout-sider {
  .ant-layout-sider-children {
    overflow-y: auto;
  }
  .ant-layout-sider-zero-width-trigger {
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-menu-title-content {
    font-size: 13px;
  }
  .ant-layout-sider-zero-width-trigger {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    z-index: 3;
    top: 15px;
  }
  .bottom-menu {
    .clientname {
      height: auto;
    }
  }
  .sidebar-nav-menu {
    .ant-menu-submenu {
      .ant-menu-sub { 
        .ant-menu-item{
        margin-top: 0;
        margin-bottom: 0;
        height: 35px;
      }
      }
    }
  }
}
